<%- include('../includes/header.ejs') %>

<table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope
       itemtype="http://schema.org/ConfirmAction"
       style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 3px; margin: 0; border: none;">
    <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
        <td class="content-wrap"
            style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;padding: 30px;border: 3px solid #4fc6e1;border-radius: 7px; background-color: #fff;"
            valign="top">
            <meta itemprop="name" content="Confirm Email"
                  style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;"/>
            <table width="100%" cellpadding="0" cellspacing="0"
                   style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
<!--                <tr>-->
<!--                    <td style="text-align: center">-->
<!--                        <a href="#" style="display: block;margin-bottom: 10px;">-->
<!--                            <img src="../assets/images/logo-dark.png" height="24" alt="logo"/></a>-->
<!--                        <br/>-->
<!--                    </td>-->
<!--                </tr>-->
                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                    <td class="content-block"
                        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                        valign="top">
                        Hello <%= admin_name %>,
                    </td>
                </tr>
                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                    <td class="content-block"
                        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                        valign="top">
                        <strong><%= name %></strong> has recently tried to contact you filling up contact form of the site.
                        <br>
                        <strong>Email : <%= email %></strong><br>
                        <strong>Phone : <%= phone %></strong><br>
                        <strong>Message : <%= message %></strong><br>
                    </td>
                </tr>
                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                    <td class="content-block"
                        style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 0 0 20px;"
                        valign="top">
                        <b>Regards, </b><br>
                        <%= admin_name %>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<%- include('../includes/footer.ejs') %>